.main {
    @include desktopWebstieMargin;
    background-color: $greyBackground;
}

.section {
    display: flex;
    padding-top: 50px;

    &__text {
        width: 70%;
        margin-left: 50px;

        >* {
            margin-bottom: 15px;
        }

        &--list {
            margin-left: 50px; 

            li {
                margin-bottom: 5px;
            }
        }

        &--code {
            width: 100%;
            border: 1px solid $black;
            background-color: #f9f9f9;
            overflow:auto;

            li {
                margin-left: 20px;
            }
        }

        &--paragraph {
            line-height: 1.6;
            font-size: 16px;
        }

        &--math {
            font-weight: bold;
            font-family: $mathFont;
            font-size: 18px;
        }

        &--main-header {
            font-size: 44px;
        }

        &--sidebar-header {
            font-size: 32px;
        }

        &__quote {
            border-left: 5px solid $grey;
            padding: 6px;
            font-size: 16px;
            line-height: 1.5;

            &--text {
                color: $grey;
                font-style: italic;
            }

            &--author {
                margin: 5px 0 0 0;
                color: $lightGrey;
                font-style: italic;
            
                &:before {
                    content: "- ";
                }
            }
        }

        &--input {
            width: 190px;
            height: 30px;
            font-size: 25px;
        }

        &--button {
            color: $white;
            background-color: $green;
            cursor: pointer;
            border:none;
            outline: none;
            padding: 15px 40px;
            border-radius: 57px;
            font-size: 20px;
        }

        &--table {
            border: 1px solid $black;
            border-collapse: collapse;
            width: 100%;

            tr:first-child {
                background-color: $green;
                color: $white;
            }

            tr,td,th {
                border: 1px solid $black;
                padding: 5px;
            }
        }

        &--image {
            width: 60%;
        }
    }

    &__figure {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 20px;

        &__image {
            // height: 300px;
            // width: 250px;
            width: 60%;
            height: auto;
        }

        &__description {
            font-style: italic;
            margin-top: 5px;
        }
    }
}

@media(max-width: $laptopWidth) {
    .main {
        @include laptopWebsiteMargin;
    }
}

@media(max-width: $smallLaptopWidth) {
    .main {
        @include smallLaptopWebsiteMargin;
    }

    .section__text {
        margin-left: 5px;
        width: 60%;

        &--image {
            width: 80%;
            height: auto;
        }
    }

    .section__figure {
        width: 40%;
        margin-right: 10px;
    }

}

@media(max-width: $tabletWidth) {
    .main {
        @include noMargin;
    }
}

@media(max-width: $smallTabletWidth) {
    .section {
        flex-direction: column; 

        &__text {
            width: 95%;
            padding: 0 10px;

            &--main-header,
            &--sidebar-header {
                text-align: center;
            }

            &--main-header {
                font-size: 32px;
            }

            &--sidebar-header {
                font-size: 26px;
            }

            &--image {
                width: 90%;
            }

            &--ferrier-image {
                width: 425px;
            }
        }

        &__figure {
            width: 100%;
            align-items: center;
        }
    }
}

@media(max-width: $largePhoneWidth) {
    .table--delete-mobile {
        display: none;
    }

    .section__text--ferrier-image {
        width: 350px;
    }
}

@media(max-width: $mediumPhoneWidth) {
    .section__text--ferrier-image {
        width: 300px;
    }
}

@media(max-width: $smallPhoneWidth) {
    .section__text--ferrier-image {
        width: 250px;
    }
}