@import "_vars.scss";

.main {
    @include desktopWebstieMargin;
    background-color: $greyBackground;
}

.section {
    display: flex;
    padding-top: 50px;
}

.section--text {
    width: 70%;
    margin-left: 50px;
}

.section--text__paragraph {
    line-height: 1.6;
    font-size: 16px;
}

.section--text__math {
    font-weight: bold;
}

.section--text * {
    margin-bottom: 20px;
}

.section--text__header {
    font-size: 36px;
}

.section--text__quote {
    border-left: 5px solid $grey;
    padding: 6px;
    font-size: 16px;
    line-height: 1.5;
}

.section--text__quote--text {
    color: $grey;
    font-style: italic;
}

.section--text__quote--author {
    margin: 5px 0 0 0;
    color: $lightGrey;
    font-style: italic;

    &:before {
        content: "- ";
    }
}

.section--figure {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}

.section--figure__image {
    height: 300px;
    width: 250px;
}

.section--figure__description {
    font-style: italic;
    margin-top: 5px;
}

@media(max-width: $laptopWidth) {
    .main {
        @include laptopWebsiteMargin;
    }
}

@media(max-width: $smallLaptopWidth) {
    .main {
        @include smallLaptopWebsiteMargin;
    }

    .section--text {
        margin-left: 5px;
        width: 60%;
    }

    .section--figure {
        width: 40%;
        margin-right: 0;
    }

}

@media(max-width: $tabletWidth) {
    .main {
        @include noMargin;
    }
}

@media(max-width: $smallTabletWidth) {
    .section {
        flex-direction: column;
    }

    .section--text {
        width: 100%;
    }

    .section--text__header {
        text-align: center;
    }

    .section--figure {
        width: 100%;
        align-items: center;
    }
}
