.header {
  margin: 0 150px;
  background-image: url("../images/slider/slider-img1.jpg");
  background-position: center;
  background-size: cover;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-family: "Lato", sans-serif;
}

.navigation {
  height: 100px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

.navigation--logo {
  width: 200px;
  height: 30px;
  margin-left: 20px;
  margin-right: 150px;
}

.navigation--list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-size: 20px;
  font-weight: bold;
}

.navigation--list__element--link:link,
.navigation--list__element--link:visited,
.navigation--list__element--link:hover,
.navigation--list__element--link:active {
  text-decoration: none;
  color: #000;
}

.navigation--list__element--link-green:link,
.navigation--list__element--link-green:visited,
.navigation--list__element--link-green:hover,
.navigation--list__element--link-green:active {
  color: #fff;
}

.navigation--list__element--link-green {
  background-color: #02a569;
  padding: 10px 20px;
  border-radius: 26px;
  font-weight: bold;
}

.header--button {
  color: #fff;
  background-color: #02a569;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 20px 70px;
  position: absolute;
  top: 50%;
  border-radius: 57px;
  font-weight: bold;
  font-size: 22px;
}

.header--dots {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.dot.active {
  background-color: #fff;
}

.header--arrow {
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.header--arrow-left {
  right: 97%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header--arrow-right {
  left: 97%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header--hamburger-icon {
  width: 50px;
  height: 35px;
  position: absolute;
  top: 55px;
  right: 50px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}

.header--hamburger-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background-color: #000;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  left: 0;
}

.header--hamburger-icon span:nth-child(1) {
  top: 0px;
}

.header--hamburger-icon span:nth-child(2) {
  top: 18px;
}

.header--hamburger-icon span:nth-child(3) {
  top: 36px;
}

.header--hamburger-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header--hamburger-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.header--hamburger-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

@media (max-width: 1440px) {
  .header {
    margin: 0 75px;
  }
  .navigation--logo {
    margin-right: 20px;
  }
  .navigation--list {
    font-size: 18px;
  }
  .navigation--list__element--link-green {
    padding: 5px 15px;
    border-radius: 26px;
    font-weight: bold;
  }
}

@media (max-width: 1024px) {
  .header {
    margin: 0 40px;
  }
  .navigation--logo {
    width: 150px;
    height: 25px;
  }
  .header--arrow-left {
    right: 95%;
  }
  .header--arrow-right {
    left: 95%;
  }
}

@media (max-width: 768px) {
  .header {
    margin: 0;
  }
  .header--hamburger-icon {
    display: block;
  }
  .navigation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation--list {
    display: none;
  }
  .navigation--list__element--link-green {
    display: none;
  }
  .navigation--logo {
    width: 200px;
    height: 30px;
    margin-left: 20px;
    margin-right: 150px;
  }
  .navigation--logo.open {
    display: none;
  }
  .navigation.open {
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation--list.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
}

@media (max-width: 425px) {
  .header--arrow-left {
    right: 88%;
    top: 40%;
  }
  .header--arrow-right {
    left: 88%;
    top: 40%;
  }
  .header--button {
    padding: 10px 30px;
  }
}

@media (max-width: 375px) {
  .navigation--logo {
    width: 150px;
    height: 25px;
  }
}

@media (max-width: 320px) {
  .header--hamburger-icon {
    right: 25px;
    top: 45px;
  }
  .navigation {
    height: 80px;
    width: 90%;
  }
}

.main {
  margin: 0 150px;
  background-color: #F6F5FF;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.section--text {
  width: 70%;
  margin-left: 50px;
}

.section--text__paragraph {
  line-height: 1.6;
  font-size: 16px;
}

.section--text__math {
  font-weight: bold;
}

.section--text * {
  margin-bottom: 20px;
}

.section--text__header {
  font-size: 36px;
}

.section--text__quote {
  border-left: 5px solid #626161;
  padding: 6px;
  font-size: 16px;
  line-height: 1.5;
}

.section--text__quote--text {
  color: #626161;
  font-style: italic;
}

.section--text__quote--author {
  margin: 5px 0 0 0;
  color: #969696;
  font-style: italic;
}

.section--text__quote--author:before {
  content: "- ";
}

.section--figure {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 20px;
}

.section--figure__image {
  height: 300px;
  width: 250px;
}

.section--figure__description {
  font-style: italic;
  margin-top: 5px;
}

@media (max-width: 1440px) {
  .main {
    margin: 0 75px;
  }
}

@media (max-width: 1024px) {
  .main {
    margin: 0 40px;
  }
  .section--text {
    margin-left: 0;
    width: 60%;
  }
  .section--figure {
    width: 40%;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .main {
    margin: 0;
  }
}

@media (max-width: 540px) {
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section--text {
    margin-left: 0;
    width: 100%;
  }
  .section--text__header {
    text-align: center;
  }
  .section--figure {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto Slab", serif;
  background-color: #FCFCFC;
}

.arrow-image {
  width: 70px;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 100%;
  cursor: pointer;
}

.arrow-image.closed {
  display: none;
}
/*# sourceMappingURL=main.css.map */