* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lato", sans-serif;
  background-color: #FCFCFC;
}

.header {
  margin: 0 150px;
  background-image: url("../images/slider/slider-img1.jpg");
  background-position: center;
  background-size: cover;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.navigation {
  height: 100px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

.navigation--logo {
  width: 200px;
  height: 30px;
  margin-left: 20px;
  margin-right: 150px;
}

.navigation--list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-size: 20px;
  font-weight: bold;
}

.navigation--list__element--link:link,
.navigation--list__element--link:visited,
.navigation--list__element--link:hover,
.navigation--list__element--link:active {
  text-decoration: none;
  color: #000;
}

.navigation--list__element--link-green:link,
.navigation--list__element--link-green:visited,
.navigation--list__element--link-green:hover,
.navigation--list__element--link-green:active {
  color: #fff;
}

.navigation--list__element--link-green {
  background-color: #00ffa1;
  padding: 10px 20px;
  border-radius: 26px;
  font-weight: bold;
}

.header--button {
  color: #fff;
  background-color: #00ffa1;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 20px 70px;
  position: absolute;
  top: 50%;
  border-radius: 57px;
  font-weight: bold;
  font-size: 22px;
}

.header--dots {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.dot.active {
  background-color: #fff;
}

.header--arrow {
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.header--arrow-left {
  right: 97%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header--arrow-right {
  left: 97%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=main.css.map */